# node_modules
node_modules/

# Tests
**/*.test.*
**/*.spec.*
vite.config.ts

# Lint
.eslintrc.js

# Environment variables
.env
.env.local
.env.development
.env.test

# Git config's
.git
.gitignore

# Github
.github
LICENSE
README.md
CONTRIBUTING.md

# Debug
.vscode

# Docker config
Dockerfile
docker-compose.yml
.dockerignore

# Packages
yarn.lock